.Caraousal{
    margin: 5px;
    border: 2px solid red;
    display: flex;
    width: 90%;
    overflow-x: auto;
}
.Caraousal::-webkit-scrollbar{
    display: none;
}
.Group{
    display: flex;
    animation:spin 5s infinite;
}
.card{
    border-radius: 4px;
    flex:0 0 5em;
    background-color: lightblue;
    margin: 4px;
    height: 5em;
    padding: 1em;
    text-align: center ;
    align-content: center;
}
