.outer {
  background-image: linear-gradient(135deg, #1a0533, #3b1f6e, #0d0d1a);
}

.boxes{
 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
   text-align: center;
    margin: 4px;
    flex-shrink: 0;
     border-radius: 3%;
}
img{
  border-radius: 3%;
  transition: 7s;
  width: 100%;
  height: 100%;
  object-fit: cover;     
  object-position: center; 
  background-size: cover;
}
button{
    color:aliceblue;
    border-radius: 40px;
    height: 50px;
    width: 50px;
}
/* .Container{

} */